@import "@workspace/ui/globals.css";

:root {
  --font-family: "Noto Sans", sans-serif;
}

@theme {
  --font-display: var(--font-family);
}

body {
  font-family: var(--font-family);
  font-display: swap;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
